<?xml version="1.0"?>
<model>
  <name>3DR Iris with R200 depth cam</name>
  <version>1.0</version>
  <sdf>iris_r200.sdf</sdf>

  <author>
   <name>Atharv Sonwane</name>
   <email>atharvs.twm@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an R200 depth cam.
  </description>
</model>
